#cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perguntas {
    border: #000000 1px solid;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    text-align: center;
    margin: 10% 0 0 0;
    
}

#pergunta_2{
    opacity: 0;
    transition: opacity .3s ease;
}

#confirma_cnpj {
    opacity: 0;
    transition: opacity .3s ease;
}

#confirma_cnpj.fade {
    opacity: 1;
}

#pergunta_2.fade{
    opacity: 1;
}

#pergunta_3{
    opacity: 0;
    transition: opacity .3s ease;
}

#pergunta_3.fade{
    opacity: 1;
}

#pergunta_4{
    opacity: 0;
    transition: opacity .3s ease;
}

#pergunta_4.fade{
    opacity: 1;
}

#pergunta_5{
    opacity: 0;
    transition: opacity .3s ease;
}

#pergunta_5.fade{
    opacity: 1;
}

#pergunta_6{
    opacity: 0;
    transition: opacity .3s ease;
}

#pergunta_6.fade{
    opacity: 1;
}


.secundaria {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

h3 {
    font-family: 'Montserrat';
    font-size: 2.5vw;
    color: #033076;
    margin: 15% 0 10% 0;
}

.campos {
    border: #3d8af7 1px solid;
    border-radius: 10px;
    padding: 8px;
    width: 60%;
}

.botao_go {
    background-color: transparent;
    border: none;
    color: #037aff;
}

#back_confirma{
    opacity: 0;
    transition: opacity .5s ease;
}

#go_confirma{
    opacity: 0;
    transition: opacity .5s ease;
}

#go_confirma.fade{
    opacity: 1;
}

#back_confirma.fade{
    opacity: 1;
}


.botao_go:hover {
   cursor: pointer;
   /*width: 150px;*/
   background-color: #037aff;
   color: #FFFFFF;
   border-radius: 10px;
   transition: .4s ease;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10% 0 5%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.titulos_regime {
    display: flex;
    justify-content: center;
}

.regime {
    margin: 0 7% 2% 2%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1vw;
}

#secundaria_pergunta1{
    margin: 80px 0 2% 2%;
}

#secundaria_pergunta2{
    margin: 60px 0 2% 2%;
}

#secundaria_pergunta3 {
    margin: 80px 0% 2% 2%;
}

#secundaria_pergunta4 {
    margin: 80px 0% 2% 2%;
}

#titulo_receita_anual{
    font-size: 2.2vw;
}

#titulo_qtde_funcionarios {
    font-size: 1.6vw;
}

#titulo_nome_completo {
    font-size: 1.6vw;
}

#titulo_email {
    font-size: 1.6vw;
}

.infos_cnpj {
    color:#033076;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vh;
    margin: 2%;
}

#opcoes_tributacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.butons_tributacao{
    margin: 0 5% 0 5%;
    width: 33%;
    height: 50px;
    background-color: #033076;
    color: #3d8af7;
    border-radius: 10px;
}

.butons_tributacao:hover{
    background-color: #037aff;
    color: white;
    padding: 5%;
    transition: .4s ease;
    height: 70px;

}